.info {
    // .info__img
    text-align: center;
    padding: 89px 0 50px 0;
    &__img {
        max-width: 342px;
        min-height: 201px;
        margin: 0 auto;
    }

    // .info__text

    &__text {
        font-size: 30px;
        line-height: 30px;
        margin-top: 36px;
    }

    // .info__text--time

    &__text--time {
        font-weight: 900;
        font-size: 36px;
        line-height: 36px;
        color: #299cbd;
        margin-top: 30px;
    }

    // .info__text--small

    &__text--small {
        font-weight: 400;
        margin-top: 24px;
        font-size: 23px;
        line-height: 20px;
    }
}
